/* no major differeneces */
body {
    background: url("images/wallpaper.jpeg") ;
  background-repeat: repeat;

  color: rgb(116, 133, 92);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

body::after {
  content: "";
  background-color: rgb(234, 238, 229);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/*  */

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {

  font-size: 32px;
  font-weight: 900;
}

h2 {

  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

h3 {

  font-size: 28px;
  font-weight: bolder;
  font-weight: 500;
  margin: 0px;
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgb(51, 78, 28);;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: rgb(57, 66, 43);
}

.img-circle {
  border-radius: 50%;
}

.container {
  margin: 60px auto;
  width: 700px;
  opacity: 1.0;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-pale-green {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 50%);
}
.button-green {
  background-color: rgb(51, 78, 28);
  color: rgb(234, 238, 229);
  border-radius: 6px;
  padding: 15px 20px;
  margin-bottom: 50px;
  box-shadow: 2px 5px 15px rgb(0 0 0 / 30%);
}
.button-green:hover {
  background-color: rgb(33, 54, 14);
  color: rgb(220, 231, 204);
  border-radius: 6px;
  padding: 15px 20px;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline i:hover {
  color: rgb(57, 66, 43);
}
#introduction p {
  margin-bottom: 40px;
  text-align: justify;
}
